<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FINAL PROJECT</title>
    <link rel="stylesheet" href="static\final.css">
</head>
<style>
    div {font-size: larger;}
</style>
<body>
    <section class="part1">
        <div class="head">
            <form method="POST" action="">
                <label>NAME</label>
                <input type="text" placeholder="Enter Name" id="fname" name="fullname"><br><br>
                <label>UID </label>
                <input type="text" placeholder="Enter UID" id="userid" name="iduser"><br><br>
                <label>COMPANY NAME </label>
                <input type="text" placeholder="Enter Company name" id="cmpnyname" name="cmpny"><br><br>
                <label>Email </label>
                <input type="email" placeholder="Enter email ID" id="idmail" name="id_name"><br><br>
                <p id="efg">
                    <button class="submitbttn" id="bttnname">Submit </button>
                </p>
            </form>
        </div>
    </section>
    
</body>
</html>