<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Check</title>
    <link rel="stylesheet" href="static\final.css">
</head>
<body>
<!--
<style>
    h1 {text-align: center;}
    h1 {color: yello;}
    div {text-align: center;}
    div {color: cornsilk;}
    div {font-size: larger;}
</style>
-->
<section class="pyo">
    <div id="abc">
      <h1>WELCOME USER..!</h1><br>
      <p>Name  = {{a}}</p><br>
      <p>Employee ID  ={{b}}</p><br>
      <p>CompanyName  ={{c}}</p><br>
      <p>Email   ={{d}}</p>
    </div>
</section>

</body>
</html>